/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


.headline {
	font-size: 12pt;
	font-weight: bold;
	color: #777777;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}


.menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

div#TopLevelFrame {
	width: 800px;
	min-width: 300px;
	border: 1px solid silver;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
 }

div#Detail {
	margin-left: 20em;
	min-height: 400px;
	max-height: 500px;
	padding: 1em 1em;
	border-top: 1px dashed silver;
	border-left: 1px dashed silver;
	overflow:scroll;
}

div#Navigator {
	float: left;
	width: 18em;
	min-height: 300px;
	padding: 1em 1em;
	border-top: 1px dashed silver;
}

div#Header {
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	/* border: 1px dashed silver; */
}

